section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(/img/15275694_5539148.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
body,
html {
    background-image: linear-gradient(135deg, #92ffc0 10%, #002661 100%);
}

.form-group input {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    border-radius: 0px;
    width: 150px;
}

label {
    color: #fff;
    margin-top: 50px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 3px;
}

.form-group .card {
    width: 50%;
    background: none;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 285px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 20px;
}

.fa {
    color: black;
}

.mb-4 {
    background-image: linear-gradient(135deg, #ffa8a8 10%, #fcff00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.button {
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    border: 2px solid #fff;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tombol a {
    text-decoration: none;
    color: #30e3df;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 2px;
}

.tombol {
    color: #fff;
}

button:hover {
    background-image: linear-gradient(135deg, #90f7ec 10%, #32ccbc 100%);
}

.tombol a:hover {
    color: #ffea20;
    margin-left: 20px;
    transition: 0.5s;
}

input:hover {
    border-bottom: 2px solid #30e3df;
    margin-top: 10px;
    transition: 0.5s;
}
